<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout">
<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PROYECTO DE VENTAS - JAVA/SPRING</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css">  
    <link th:href="@{/css/style.css}" rel="stylesheet">
    
    <style>
	    .btn-primary {
		  color: #FFFFFF !important;
		  background-color: #c8102f !important;
		  border-color: #c8102f !important;
		}
		
		.btn-primary:hover,
		.btn-primary:focus,
		.btn-primary.focus {
		  background-color: #c8102f !important;
		  border-color: #c8102f !important;
		  color: #FFFFFF !important;
		}
		
		.labelvalidator{
		    color: #df1717;
    		font-weight: bold;
		}
		
		.ui.modal {
            top: unset !important;
		    left: unset !important;
		    bottom: unset !important;
		    right: unset !important;
        }
    </style>

</head>

<body class="pace-done">
<div class="pace pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

    <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
               
                <li>
                    <a th:href="@{/users/index}"><span class="nav-label">Users</span></a>
                </li>
                <li>
                    <a th:href="@{/productos/index}"><span class="nav-label">Products</span></a>
                </li>
                <li>
                    <a th:href="@{/categories/index}"><span class="nav-label">Categories</span></a>
                </li>
                <li class="special_link">
                    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Log Out</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>

			<!-- CONTENT -->
            <div layout:fragment="page-content">
                
            </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-3.1.1.min.js}" type="text/javascript"></script>
    
     <!--frameworks -->
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <!-- libraries -->
    <!-- <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  
   <!-- template
    <script th:src="@{/js/inspinia.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/plugins/pace/pace.min.js}" type="text/javascript"></script>
    -->
    <script th:src="@{/js_files/main.js}" type="text/javascript"></script>

	<th:block layout:fragment="scripts">
	
	</th:block>



</body>
</html>

